.homepage{
    background-color: #fff;
    height: var(--container_height);
    border-radius: 1rem;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
    width: var(--container_width);
    position: relative;
    overflow-y: scroll;
}

.homepage__img__container {
    position: relative;
    width: 100%;
    max-width: var(--container_width);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.homepage__body{
    padding: 10px 50px;
}
.homepage__title{
    color: #5B4F6A;
    font-size: 2rem;
    margin-bottom: 5px;
}
.homepage__rules{
    font-size: 0.9rem;
    color: #7B5B92;
}

.homepage__btns{
    display: flex;
    justify-content: center;
    padding: 20px 20px 0 20px;
}
.homepage__btn{
    width: 180px;
    padding: 12px;
    border: none;
    border-radius: 2rem;
    font-weight: 600;
    font-size: 1rem;
    background-color: var(--button_color);
    color: #fff;
    transition: all 0.2s ease; 
    
}

.homepage__btn:hover {
    background-color: var(--button_hover_color); 
    
}
.loading{
    margin-top: 40px;
}

.header__btn:hover {
    transform: scale(1.05); 
    transition: all 0.2s ease; 
}

@media (max-width: 718px) { 
    .homepage{
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
}

@media (max-width: 435px) { 
    .homepage__title{
        font-size: 1.5rem;
        margin-bottom: 3px;
    }
    .homepage__btns{
        padding: 10px 20px 0 20px;
    }
}


@media (max-width: 350px) { 
    .homepage__rules{
        font-size:0.7rem;

    }
}