* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  overflow: hidden
}
a {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits the color from the parent element */
}